body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    font-size: 50px;
}
main{
    max-width: 800px;
margin: 20px;
}
a{
    color: white;
    position:absolute;
    top:5px;
    left: 5px;

}

.button{
    width: 180px;
    height: 30px;
    background-color: red;
    border-radius: 10px;
    position: relative;
    border-width: 10px;
    border-color: black;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.48);
    text-shadow: 0px 0px 5px black;
}
#yellow{
    background-color: yellow;
}
#green{
    background-color: rgb(0, 255, 0);
}