@charset "UTF-8";

body{
    background-image: url(imagens/espaco.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;

}
#astronauta{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}