.cent{
 height: 250px;
 width: auto;
}
main{
    align-items: center;
    text-align: center;
    max-height: 800px;
    margin: auto;
    padding: 30px;
}
header{
    text-align: center;
    font-size: 40px;
    color: rgb(255, 255, 255);
}
body{
    background-color: rgb(45, 45, 45);
    font-family: Arial, Helvetica, sans-serif;
}
.rt{
    width: 50px;
    height: 50px;
    text-align: center;
    margin: auto;
    border-radius: 50%;
    background-color: white;
    position:relative;
}
.c{
align-items: center;
position: relative;
top: 25%;
color:black

}
a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}
a:hover{ 
   color: rgb(9, 189, 9);
   font-size: 17px;

}
img{
    box-shadow: 0px 0px 15px black;
}
